.SobreDiv{
    height: 72vh;
    width: 100%;
    background-color: rgba(22, 36, 52, 1);
    border-color: white;
    border: 1px solid white;
}
.SobreWord{
    height: 100%;
    width: 50%;
    float: left;
}
.SobrePic{
    height: 100%;
    width: 50%;
    float: right;
}
.DivAlinhamentoPic{
    padding: 20px;
    height: auto;
    width: 300px;
    border-radius:50%;
    background-color: transparent;
    text-align: center;
    animation: changeColor 5s infinite;
    display: flex;
    border: 1px solid;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}
.SobrePic{
    display: flex;
  
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}
.sobrePic{
    height: 250px;
    border-radius: 50%;
}
@keyframes changeColor {
    0% {
      border-color: red;
    }
    25% {
        border-color: blue;
    }
    50% {
        border-color: green;
    }
    75% {
        border-color: yellow;
    }
    100% {
        border-color: red;
    }
  }

.ajuste_Alinhamento{
    
    width: 80%;
    padding-left: 30px;
    margin: auto;
}
  

.TitleSobre{
    font-size: 40px;
    text-align: center;
    color: white;
    margin: 35px;
}
.sobreItens{
    font-size: 27px;
    padding: 15px;
    color: white;
}